# React frontends (public)
{% for host in groups['nextcloud'] %}
{{ hostvars[host]['tenant_domain'] | replace('westerweel.work', 'woo.westerweel.work') }} {
	tls internal
	reverse_proxy woo-{{ hostvars[host]['inventory_hostname'] }}:8080
}

{% endfor %}
# Nextcloud backends
{% for host in groups['nextcloud'] %}
{{ hostvars[host]['tenant_domain'] }} {
	tls internal

	@api path /apps/opencatalogi/api/*
	handle @api {
		reverse_proxy {{ hostvars[host]['ansible_host'] }}:80
	}

	@internal remote_ip 192.168.178.0/24
	handle @internal {
		reverse_proxy {{ hostvars[host]['ansible_host'] }}:80
	}

	handle {
		respond "Forbidden" 403
	}
}

{% endfor %}
