# React frontends (public)
{% for host in groups['nextcloud'] %}
{{ hostvars[host]['tenant_domain'] | replace('westerweel.work', 'woo.westerweel.work') }} {
	tls internal
	reverse_proxy woo-{{ hostvars[host]['inventory_hostname'] }}:8080
}

{% endfor %}
# Nextcloud backends (API public, admin via LAN firewall)
{% for host in groups['nextcloud'] %}
{{ hostvars[host]['tenant_domain'] }} {
	tls internal
	reverse_proxy {{ hostvars[host]['ansible_host'] }}:80
}

{% endfor %}
